:root{
    --blue: #3056b0;
    --veryLightBlue: #cfddff;


    --black: #212329;
    --white: #f7f7f7;


    --red: #e06060;
    --veryLightRed: #ffe9e9;

    --green: #36cc47;
    --veryLightGreen: #edffef;

}


* {

    margin: 0;
    padding: 0;
}

body {
    background-color: var(--blue);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#title {

    color: var(--veryLightBlue);
    text-align: center;
    margin: 25px 0 15px 0;
    font-size: 30px;
}

#contador {

    margin: 10px auto 0 auto;
    text-align: center;
    font-size: 20px;
    color: var(--veryLightBlue);
    opacity: 30%;
}

.game-container {
    background-color: var(--white);
    margin: auto;
    margin-bottom: 0;
    z-index: 1;
    position: relative; 
    width: 80vw;
    height: 75vh;
}



#clickeable-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 8vh;
    height: 8vh;
    background-color: red;
    z-index: 0;
    border-radius: ;

    
}

#resetPosition {
    margin: 10px auto 20px auto;
    text-align: center;
    display: flex;
    padding: 10px;
    border-radius: 8px;

    background-color: var(--red);
    border: 0.5px solid var(--veryLightRed);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: bold;
    color: var(--veryLightRed);
    
}

#resetPosition:hover {
    background-color: var(--veryLightRed);
    color: var(--red);
    border: 0.5px solid var(--red);
    cursor: pointer;
}

#stats {
    text-align: center;
    margin: auto;
    padding-top: 5px;
    color: var(--veryLightBlue);
    font-weight: bold;
    width: auto;
    height: auto;
  /* 50 px de alto como minimo */
}

@media ()